
#####################
# n8n configuration
#####################
# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from
DOMAIN_NAME=example.com
# The subdomain to serve from
SUBDOMAIN=n8n
WEBHOOK_URL=https://n8n.example.com
N8N_HOST=https://n8n.example.com
N8N_PROTOCOL=https
# The above example serve n8n at: https://n8n.example.com
# Optional timezone to set which gets used by Cron and other scheduling nodes
# New York is the default value if not set
GENERIC_TIMEZONE=America/Denver
# The email address to use for the TLS/SSL certificate creation
SSL_EMAIL=admin@kheiden.com
# The NAS username and password
NAS_USERNAME=dockeruser
NAS_PASSWORD=changeme123
# Misc
N8N_RUNNERS_ENABLED=true
N8N_DEFAULT_BINARY_DATA_MODE=filesystem


#####################
# openwebui configuration
#####################

EXTERNAL_PWA_MANIFEST_URL=https://example.com/manifest.webmanifest
PHOTOPRISM_API_KEY=updatethisoncecreated
# WEBUI_AUTH_TRUSTED_EMAIL_HEADER=Cf-Access-Authenticated-User-Email
# WEBUI_AUTH_TRUSTED_NAME_HEADER=Cf-Access-Authenticated-User-Email
# TODO: Add Google OIDC config data

#####################
# ollama configuration
#####################
OLLAMA_ORIGINS=chrome-extension://*
OLLAMA_FLASH_ATTENTION=1
OLLAMA_KEEP_ALIVE=24h

#####################
# photoprism configuration
#####################
PHOTOPRISM_INIT="tensorflow-gpu" # https
PHOTOPRISM_UID="1000"                        # user id, should match your host user id
PHOTOPRISM_GID="1000"                        # group id
PHOTOPRISM_ADMIN_USER="admin"                       # admin login username
PHOTOPRISM_ADMIN_PASSWORD="photoprism"              # initial admin password (8-72 characters)
PHOTOPRISM_AUTH_MODE="password"                     # authentication mode (public, password)
PHOTOPRISM_SITE_URL="http://localhost:2342/"  # server URL in the format "http(s)://domain.name(:port)/(path)"
PHOTOPRISM_SITE_CAPTION="Latest"
PHOTOPRISM_SITE_DESCRIPTION="Tags and finds pictures without getting in your way!"
PHOTOPRISM_SITE_AUTHOR="@photoprism_app"
PHOTOPRISM_DEBUG="true"
PHOTOPRISM_READONLY="false"
PHOTOPRISM_EXPERIMENTAL="false"
PHOTOPRISM_HTTP_MODE="debug"
PHOTOPRISM_HTTP_HOST="0.0.0.0"
PHOTOPRISM_HTTP_PORT=2342
PHOTOPRISM_HTTP_COMPRESSION="gzip"                  # improves transfer speed and bandwidth utilization (none or gzip)
PHOTOPRISM_DATABASE_DRIVER="mysql"
PHOTOPRISM_DATABASE_SERVER="mariadb-11-4:4001"
PHOTOPRISM_DATABASE_NAME="photoprism"
PHOTOPRISM_DATABASE_USER="root"
PHOTOPRISM_DATABASE_PASSWORD="changeme123" # Must match MARIADB_ROOT_PASSWORD
PHOTOPRISM_DISABLE_CHOWN="true"       # disables updating storage permissions via chmod and chown on startup
PHOTOPRISM_DISABLE_BACKUPS="false"     # disables backing up albums and photo metadata to YAML files
PHOTOPRISM_DISABLE_WEBDAV="false"      # disables built-in WebDAV server
PHOTOPRISM_DISABLE_SETTINGS="false"    # disables settings UI and API
PHOTOPRISM_DISABLE_PLACES="false"      # disables reverse geocoding and maps
PHOTOPRISM_DISABLE_EXIFTOOL="false"    # disables creating JSON metadata sidecar files with ExifTool
PHOTOPRISM_DISABLE_TENSORFLOW="false"  # disables all features depending on TensorFlow
PHOTOPRISM_DETECT_NSFW="false"         # automatically flags photos as private that MAY be offensive (requires TensorFlow)
PHOTOPRISM_UPLOAD_NSFW="false"         # allows uploads that MAY be offensive (no effect without TensorFlow)
PHOTOPRISM_RAW_PRESETS="false"         # enables applying user presets when converting RAW images (reduces performance)
PHOTOPRISM_THUMB_FILTER="lanczos"      # resample filter, best to worst=blackman, lanczos, cubic, linear
PHOTOPRISM_THUMB_UNCACHED="true"       # enables on-demand thumbnail rendering (high memory and cpu usage)
PHOTOPRISM_THUMB_SIZE=1920             # pre-rendered thumbnail size limit (default 1920, min 720, max 7680)
# PHOTOPRISM_THUMB_SIZE=4096           # Retina 4K, DCI 4K (requires more storage); 7680 for 8K Ultra HD
PHOTOPRISM_THUMB_SIZE_UNCACHED=7680    # on-demand rendering size limit (default 7680, min 720, max 7680)
PHOTOPRISM_JPEG_SIZE=7680              # size limit for converted image files in pixels (720-30000)
TF_CPP_MIN_LOG_LEVEL=1                 # show TensorFlow log messages for development
NVIDIA_DRIVER_CAPABILITIES="all"
NVIDIA_VISIBLE_DEVICES="all"
PHOTOPRISM_FFMPEG_BUFFERS=64
PHOTOPRISM_FFMPEG_ENCODER="nvidia"
#####################
# mariadb configuration
#####################

MARIADB_AUTO_UPGRADE="1"
MARIADB_INITDB_SKIP_TZINFO="1"
MARIADB_DATABASE="photoprism"
MARIADB_USER="photoprism"
MARIADB_PASSWORD="photoprism"
MARIADB_ROOT_PASSWORD="changeme123"